body {
  background-color: #000;
}

.button-box {
  background-color: #fff;
  width: 220px;
  margin: 35px auto;
  border-radius: 20px;
  position: relative;
}

.toggle-btn {
  border: none;
  position: relative;
  background-color: transparent;
  text-align: center;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
}
#btn {
  left: 0;
  top: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background-color: #f4a261;
  border-radius: 20px;
  transition: 0.5s;
}
