@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

body {
	background: #048;
	background: -webkit-linear-gradient(left top, #027, #48a);
	background: -moz-linear-gradient(bottom right, #027, #48a);
	background: linear-gradient(to bottom right, #027, #48a);
	background-attachment: fixed;
	color: #fff;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 140%;
	margin: 0;
	height: 100%;
	padding: 0;
	width: 100%;
}

a {
    text-decoration: none;       
}

ul {
    list-style-type: none;
}

li {

}

hbox {
    display: flex;
    flex-direction: row;
}

vbox {
    display: flex;
    flex-direction: column;
}